@model IEnumerable<Garage_2._0.Models.ViewModel.OverView_View>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">

    <input type="search" name="searchString" />
    <input type="submit" value="Search By RegistrationNumber" />
</form>

<table class="table table-striped table-bordered">
    <thead>

        <tr>
            <th>@Html.ActionLink("Registration_number", "OverView_View", new { sortOrder = "Registration_number" })</th>
            <th>@Html.ActionLink("Type", "OverView_View", new { sortOrder = "Type" })</th>
            <th>@Html.ActionLink("Color", "OverView_View", new { sortOrder = "color" })</th>
            <th>@Html.ActionLink("ParkingTime", "OverView_View", new { sortOrder = "Parking_time" })</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var vehicle in Model)
            {
            <tr>

                <td> @vehicle.Registration_number </td>
                <td> @vehicle.Type </td>
                <td> @vehicle.Color </td>
                <td> @vehicle.Parking_time </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = vehicle.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = vehicle.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = vehicle.Id })
                </td>*@
            </tr>
        }
    </tbody>

</table>




<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Registration_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parking_time)
        </th>
        <th></th>
    </tr>



@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Registration_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parking_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
